body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#main_map {
  width: 600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}